@layer components {
  .card {
    /* === CARD COLOR VARIANTS === */
    &-primary {
        background-color: var(--color-primary);
        color: var(--color-primary-contrast);

    }
    &-primary .card-subtitle, &-secondary .card-subtitle {
        color: var(--color-warning-200);
    }

    &-secondary {
        background-color: var(--color-primary-contrast);
        color: var(--color-primary);
        border-color: var(--color-primary);
    }

    &-secondary .card-body {
        color: var(--color-gray-600)
    }

    &-success {
        background-color: var(--color-success);
        color: var(--color-success-contrast);
    }

    &-warning {
        background-color: var(--color-warning);
        color: var(--color-warning-contrast);
    }

    &-danger {
        background-color: var(--color-error);
        color: var(--color-error-contrast);
    }
  }
}
